#app {
  min-height: 100%;
  text-align: center;
  border-style: solid;
  border-radius: 5px;
  border-color: rgb(44, 190, 56);
  padding: 0px 20px 0px 20px;
}

#header{
  height: 100px;
  border-style: solid;
  border-radius: 2px;
  border-color: rgb(226, 15, 15);
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 30px;
  margin-top: 10px;
}

#container {
  height: 600px;
  background-color: rgb(184, 235, 248);
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 30px;
  margin-top: 20px;
}

#footer {
  height: 100px;
  border-style: solid;
  border-radius: 2px;
  border-color: rgb(226, 15, 15);
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 10px;
}

.completed, .active{
  font-size: 20px;
}

.completed{
  background-color: rgb(112, 187, 124);
  font-weight: bold;
}

.active{
  background-color: rgb(221, 219, 93);
}


