#root{
  padding: 20px 20px 0px 20px;
  background-color: rgb(233, 233, 233);
  height: 100%;
}

.navbar{
  display: flex;
  justify-content: space-between;
  padding: 20px 20px 20px 20px;
}

.sticker_list{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}

.sticker{
    background-color: rgb(221, 218, 49);
    min-width: 11.5%;
    margin-bottom: 10px;
    color: rgb(0, 0, 0);
    margin-right: 20px;
    padding: 20px;
}

.navbar{
  font-size: 30px;
  margin-bottom: 30px;
  border-radius: 1px;
  border-color: rgb(160, 157, 16);
  border-style: solid;
}

.addBtn, .deleteBtn{
  cursor: pointer;
}

.deleteBtn{
  margin-bottom: 10px;
  background-color: rgb(219, 76, 76);
  color: white;
  border-radius: 3px;
  border-color: crimson;
}

.addBtn{
  background-color: rgb(32, 180, 64);
  color: white;
  font-size: 20px;
  border-radius: 5px;
  border-color: rgb(37, 117, 37);
}

.text{
  min-height: 100px;
  padding: 7px;
}


